<mat-card class="mb-4">
  <h3>Sales Over Time</h3>
  <mat-divider></mat-divider>
  <div class="h-48">

    <tbody *ngIf="loading">
    <tr>
      <td class="p-4">Loading..</td>
    </tr>
    </tbody>

    <ng-container *ngIf="!loading && barChartData">
      <canvas baseChart
              [data]="barChartData"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [type]="'bar'">
      </canvas>
    </ng-container>
  </div>
</mat-card>
