<div class="px-4 h-full">
  <div class="flex flex-col h-full">
    <div class="flex flex-1 flex-wrap content-center items-center justify-center">
      <div *ngIf="!paid" class="text-center">
        <span class="mat-body-strong text-base">Total</span><br>
        <span class="text-right mat-body-strong text-4xl self-center">{{ total | number:'1.2' | currency }}</span><br>
        <span class="col-span-full text-base">{{ itemsCount }} items</span>
      </div>

      <div *ngIf="paid" class="text-center">
        <div>
          <mat-icon class="text-green-800">check_circle</mat-icon>
        </div>
        <strong class="sm:text-xl">Order Created</strong>
      </div>
    </div>

    <button *ngIf="!paid" (click)="submit()" class="w-full p-4" color="primary" mat-flat-button>
      Save & Pay
    </button>

    <button *ngIf="paid" (click)="exit()" class="w-full p-4" color="primary" mat-flat-button>
      Exit
    </button>
  </div>
</div>
