<app-page-header [title]="title" [subTitle]="subTitle">
  <ng-template #actions>
    <app-back-button></app-back-button>
    <app-submit-button *ngIf="!id" label="Send Invite" [formGroup]="formGroup" [goTo]="'system/users'"></app-submit-button>
    <app-submit-button *ngIf="id" [formGroup]="formGroup" [goTo]="'system/users'" [reload]="true"></app-submit-button>
  </ng-template>
</app-page-header>

<div *ngIf="loading" class="py-3 px-4 text-primary-400">Loading..</div>

<div class="grid">
  <form *ngIf="!loading" [formGroup]="formGroup" autocomplete="off">
    <div class="col-span-full">
      <mat-card class="grid grid-cols-6 gap-x-4">

        <div class="col-span-6">
          <mat-form-field appearance="outline">
            <mat-label> Role</mat-label>
            <mat-select formControlName="role" required>
              <mat-option value="admin"> Admin</mat-option>
              <mat-option value="staff"> Staff</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-span-3">
          <mat-form-field appearance="outline">
            <mat-label> First name</mat-label>
            <input formControlName="firstName" matInput required type="text">
          </mat-form-field>
        </div>

        <div class="col-span-3">
          <mat-form-field appearance="outline">
            <mat-label> Last name</mat-label>
            <input formControlName="lastName" matInput required type="text">
          </mat-form-field>
        </div>

        <div class="col-span-3">
          <mat-form-field appearance="outline">
            <mat-label> Email</mat-label>
            <input formControlName="email" matInput required type="text">
          </mat-form-field>
        </div>

        <div class="col-span-3">
          <mat-form-field appearance="outline">
            <mat-label> Phone</mat-label>
            <input formControlName="phone" matInput type="text">
          </mat-form-field>
        </div>

      </mat-card>
    </div>
  </form>
</div>
