<mat-card class="grid grid-flow-row">

  <div *ngIf="totalDiscounts > 0" class="flex pb-2">
    <div class="flex-grow font-bold">Discounts:</div>
    <div class="flex-grow-0 text-base">{{ totalDiscounts | number:'1.2' | currency }}</div>
  </div>

  <div class="flex">
    <div class="flex-grow">
      <div class="font-bold text-base">Total:</div>
      <div class="text-base">{{ itemsCount() }} items</div>
    </div>
    <div class="flex-grow-0 text-right mat-body-strong text-xl self-center">{{ orderTotal() | currency }}</div>
  </div>
</mat-card>
