<div class="grid mx-4 gap-x-4">
  <h2>Update Installed Successfully <div class="font-normal text-sm float-right">{{ update.version }}</div></h2>
  <span>What is new?</span>
  <div class="my-2">
    <ng-container *ngIf="update.changelog.added.length > 0">
      <div class="my-2">
        <span class="font-bold"># Added</span>
        <ul>
          <li *ngFor="let added of update.changelog.added">
            {{ added }}
          </li>
        </ul>
      </div>
    </ng-container>
    <ng-container *ngIf="update.changelog.changed.length > 0">
      <div class="my-2">
        <span class="font-bold"># Changed</span>
        <ul>
          <li *ngFor="let changed of update.changelog.changed">
            {{ changed }}
          </li>
        </ul>
      </div>
    </ng-container>
    <ng-container *ngIf="update.changelog.fixed.length > 0">
      <div class="my-2">
        <span class="font-bold"># Fixed</span>
        <ul>
          <li *ngFor="let fixed of update.changelog.fixed">
            {{ fixed }}
          </li>
        </ul>
      </div>
    </ng-container>
  </div>

  <button mat-flat-button color="accent" mat-dialog-close="true" class="mt-4">Close</button>
</div>