<app-page-header [title]="title" [subTitle]="subTitle">
  <ng-template #actions>
    <app-back-button></app-back-button>
    <app-submit-button [formGroup]="formGroup" [goTo]="'system/channels'" [reload]="true"></app-submit-button>
  </ng-template>
</app-page-header>

<mat-card *ngIf="loading">Loading..</mat-card>

<form *ngIf="!loading" [formGroup]="formGroup" autocomplete="off">
  <div class="grid grid-cols-1 gap-4">

    <mat-card class="col-span-full grid grid-cols-2 gap-x-4">
      <div class="col-span-full">
        <h3 class="inline-flex">Details</h3>
        <mat-divider></mat-divider>
      </div>

      <div class="col-span-full lg:col-span-1">
        <p class="pt-4 pb-2 text-primary-300">
          A short and unique name for internal usage (optional).
        </p>
        <mat-form-field appearance="outline">
          <mat-label>Channel name</mat-label>
          <input formControlName="name" matInput type="text">
        </mat-form-field>
      </div>

      <div class="col-span-full lg:col-span-1">
        <p class="pt-4 pb-2 text-primary-300">
          Where you sell your products.
        </p>
        <mat-form-field appearance="outline">
          <mat-label>Location</mat-label>
          <mat-select formControlName="locationId" required>
            <mat-option *ngFor="let location of locations" value="{{ location.id }}">{{ location.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-span-full md:col-span-2 pb-4">
        <div class="mb-4">Is this channel enabled or disabled?</div>
        <mat-slide-toggle formControlName="isActive">
          <span *ngIf="formGroup.get('isActive')?.value">Enabled</span>
          <span *ngIf="!formGroup.get('isActive')?.value">Disabled</span>
        </mat-slide-toggle>
      </div>
    </mat-card>

  </div>
</form>
