<form [formGroup]="formGroup" autocomplete="on">

  <mat-card>
    <mat-tab-group formArrayName="listings" mat-align-tabs="end" animationDuration="750ms" dynamicHeight>

      <ng-container *ngFor="let channel of channels; let i = index">

        <mat-tab *ngIf="channel.type === 'discogs'">
          <ng-template mat-tab-label>
            <img alt="" height="25" src="assets/discogs-25.png">
          </ng-template>
          <ng-container *ngTemplateOutlet="discogsChannel"></ng-container>
        </mat-tab>

        <mat-tab *ngIf="channel.type === 'shopify'">
          <ng-template mat-tab-label>
            <img alt="" height="25" src="assets/shopify-25.png">
          </ng-template>
          <ng-container *ngTemplateOutlet="shopifyChannel"></ng-container>
        </mat-tab>

        <mat-tab *ngIf="channel.type === 'pos'">
          <ng-template mat-tab-label>
            <img alt="" height="25" src="assets/pos-25.png">
          </ng-template>
          <ng-container *ngTemplateOutlet="posChannel"></ng-container>
        </mat-tab>

      </ng-container>

    </mat-tab-group>
  </mat-card>

  <ng-template #discogsChannel>
    <div class="grid grid-cols-4 gap-x-4">

      <div class="col-span-full block md:hidden">
        <app-lightbox [imageData]="product.images" classes="float-left py-4"></app-lightbox>
      </div>

      <div class="col-span-full block md:hidden">
        <mat-divider></mat-divider>
      </div>

      <div class="col-span-full mb-4">
        <app-lightbox [imageData]="product.images" thumbSize="150" classes="float-left p-1 mt-4 mr-4 hidden md:block border rounded"></app-lightbox>

        <p class="pt-4 mb-1" *ngIf="product.options.discogs">

          Release #
          <a (click)="$event.stopPropagation()"
             href="https://www.discogs.com/release/{{ product.options.discogs.releaseId }}"
             rel="noopener noreferrer" class="link content-center" target="_blank">
            {{ product.options.discogs.releaseId }}
          </a>

        </p>

        <h3 class="mb-0">{{product.artist }} - {{ product.title }}</h3>

      </div>

    </div>

    <mat-divider></mat-divider>

    <div class="grid grid-cols-2 gap-x-4 pt-4">
      <mat-form-field appearance="outline" class="col-span-2 lg:col-span-1">
        <mat-label>Media Condition</mat-label>
        <mat-select formControlName="mediaCondition">
          <mat-option value="Mint (M)">Mint (M)</mat-option>
          <mat-option value="Near Mint (NM or M-)">Near Mint (NM or M-)</mat-option>
          <mat-option value="Very Good Plus (VG+)">Very Good Plus (VG+)</mat-option>
          <mat-option value="Very Good (VG)">Very Good (VG)</mat-option>
          <mat-option value="Good Plus (G+)">Good Plus (G+)</mat-option>
          <mat-option value="Good (G)">Good (G)</mat-option>
          <mat-option value="Fair (F)">Fair (F)</mat-option>
          <mat-option value="Poor (P)">Poor (P)</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-span-2 lg:col-span-1">
        <mat-label>Sleeve Condition</mat-label>
        <mat-select formControlName="sleeveCondition">
          <mat-option value="Not Graded">Not Graded</mat-option>
          <mat-option value="Generic">Generic</mat-option>
          <mat-option value="No Cover">No Cover</mat-option>
          <mat-option value="Mint (M)">Mint (M)</mat-option>
          <mat-option value="Near Mint (NM or M-)">Near Mint (NM or M-)</mat-option>
          <mat-option value="Very Good Plus (VG+)">Very Good Plus (VG+)</mat-option>
          <mat-option value="Very Good (VG)">Very Good (VG)</mat-option>
          <mat-option value="Good Plus (G+)">Good Plus (G+)</mat-option>
          <mat-option value="Good (G)">Good (G)</mat-option>
          <mat-option value="Fair (F)">Fair (F)</mat-option>
          <mat-option value="Poor (P)">Poor (P)</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-span-2">
        <mat-label>Item Condition Comments</mat-label>
        <textarea formControlName="comments" matInput maxLength="500" rows="3" style="resize: none;" [matAutocomplete]="autoComment"></textarea>
        <mat-autocomplete #autoComment="matAutocomplete">
          <mat-option *ngFor="let option of filteredCommentsOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
        <mat-hint align="end">{{ formGroup.get('comments')?.value?.length || 0 }} / 500</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-span-2">
        <mat-label>Private Comments</mat-label>
        <textarea formControlName="privateComments" matInput maxLength="255" rows="2" style="resize: none;"></textarea>
        <mat-hint align="end">{{ formGroup.get('privateComments')?.value?.length || 0 }} / 255</mat-hint>
      </mat-form-field>
    </div>

    <mat-divider class="my-4"></mat-divider>

    <mat-accordion>
      <mat-expansion-panel class="mt-2">
        <mat-expansion-panel-header class="bg-gray-50">
          <mat-panel-title>
            <h3 class="m-0">Advanced Settings</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p class="pt-4">Channel specific settings that overwrite and expand the default settings.</p>

        <ul>
          <li>
            <mat-checkbox formControlName="allowOffers">Allow offers</mat-checkbox>
          </li>
        </ul>

        <div class="col-span-full my-4">
          <mat-divider></mat-divider>
        </div>

        <ng-container formArrayName="listings" *ngFor="let listing of product.listings; let i = index">
          <div *ngIf="listing.channelType === 'discogs'" [formGroupName]="i" class="grid grid-cols-4 gap-x-4 mt-4">

            <div *ngIf="listing.externalId" class="col-span-full mb-4">
              <span class="font-bold">Discogs Listing # </span>
              <a (click)="$event.stopPropagation()"
                 href="https://www.discogs.com/sell/item/{{ listing.externalId }}"
                 rel="noopener noreferrer" class="link content-center" target="_blank">
                {{ listing.externalId }}
              </a>
            </div>

            <div *ngIf="!listing.externalId" class="col-span-full mb-4">
              <span class="font-bold">Discogs Listing # na</span>
            </div>

            <div class="col-span-full mb-4">
              <mat-divider></mat-divider>
            </div>

            <div class="md:col-span-1 col-span-full">
              <mat-form-field appearance="outline">
                <mat-label>{{ currencyCode }} Price</mat-label>
                <input formControlName="price" matInput type="number" min="0.01">
              </mat-form-field>
            </div>
            <div class="md:col-span-1 col-span-full">
              <mat-form-field appearance="outline">
                <mat-label>Available Quantity</mat-label>
                <input formControlName="available" matInput type="number" min="1" [max]="getMaxAvailable()">
              </mat-form-field>
            </div>
            <ul class="md:col-span-1 col-span-full">
              <li>
                <mat-checkbox formControlName="isLocked">
              <span class="inline-flex">
                Lock Price
                <mat-icon class="text-gray-400" style="transform: scale(0.6);" matTooltip="When the price is
                  locked it is excluded from Bulk Repricing operations." matTooltipPosition="above">
                help</mat-icon>
              </span>
                </mat-checkbox>
              </li>
            </ul>

            <div *ngIf="latestRepricing && wasModifiedByRepricing(listing)"
                 class="col-span-full text-xs text-amber-700">
              Modified by Repricing Agent on {{ latestRepricing.createdAt | date }}
            </div>
          </div>
        </ng-container>

      </mat-expansion-panel>
    </mat-accordion>

  </ng-template>

  <ng-template #shopifyChannel>

    <div class="grid grid-cols-3 gap-x-4 pt-4 pb-4">

      <div class="col-span-2">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input formControlName="listingTitle" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-1">
        <mat-form-field appearance="outline">
          <mat-label>Vendor</mat-label>
          <input formControlName="vendor" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-full NgxEditor__Wrapper">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
        <ngx-editor [editor]="editor" formControlName="description"></ngx-editor>
      </div>

    </div>

    <h3>SEO Metadata</h3>
    <mat-divider></mat-divider>

    <mat-form-field appearance="outline" class="col-span-full pt-4">
      <mat-label>Meta Title</mat-label>
      <input formControlName="metaTitle" matInput maxlength="255">
      <mat-hint align="end">{{formGroup.get('metaTitle')?.value?.length}} / 60</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-span-full">
      <mat-label>Meta Description</mat-label>
      <textarea formControlName="metaDescription" matInput maxlength="255" rows="4"></textarea>
      <mat-hint align="end">{{formGroup.get('metaDescription')?.value?.length}} / 160</mat-hint>
    </mat-form-field>

    <mat-divider class="my-4"></mat-divider>

    <mat-accordion>
      <mat-expansion-panel class="mt-2">
        <mat-expansion-panel-header class="bg-gray-50">
          <mat-panel-title>
            <h3 class="m-0">Advanced Settings</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p class="pt-4">Channel specific settings that overwrite and expand the default settings.</p>

        <div class="col-span-full my-4">
          <mat-divider></mat-divider>
        </div>

        <ng-container formArrayName="listings" *ngFor="let listing of product.listings; let i = index">
          <div *ngIf="listing.channelType === 'shopify'" [formGroupName]="i" class="grid grid-cols-4 gap-x-4 mt-4">

            <div *ngIf="listing.externalId" class="col-span-full mb-4 pl-1">
              <span class="font-bold">Shopify Product #</span>
              <!--          <a (click)="$event.stopPropagation()"-->
              <!--             href="https://www.discogs.com/sell/item/{{ listing.externalId }}"-->
              <!--             rel="noopener noreferrer" class="link content-center" target="_blank">-->
              {{ listing.externalId }}
              <!--          </a>-->
            </div>

            <div *ngIf="!listing.externalId" class="col-span-full mb-4">
              <span class="font-bold">Shopify Product # na</span>
            </div>

            <div class="col-span-full mb-4">
              <mat-divider></mat-divider>
            </div>

            <div class="col-span-1">
              <mat-form-field appearance="outline">
                <mat-label>{{ currencyCode }} Price</mat-label>
                <input formControlName="price" matInput type="number" min="0.01">
              </mat-form-field>
            </div>
            <div class="col-span-1">
              <mat-form-field appearance="outline">
                <mat-label>Available Quantity</mat-label>
                <input formControlName="available" matInput type="number" min="1" [max]="getMaxAvailable()">
              </mat-form-field>
            </div>
            <ul class="col-span-2 inline-flex">
              <li>
                <mat-checkbox formControlName="isLocked">
              <span class="inline-flex">
                Lock Price
                <mat-icon class="text-gray-400" style="transform: scale(0.6);" matTooltip="When the price is
                  locked it is excluded from Bulk Repricing operations." matTooltipPosition="above">
                help</mat-icon>
              </span>
                </mat-checkbox>
              </li>
            </ul>

            <div *ngIf="latestRepricing && wasModifiedByRepricing(listing)"
                 class="col-span-full text-xs text-amber-700 pl-1">
              Modified by Repricing Agent on {{ latestRepricing.createdAt | date }}
            </div>
          </div>
        </ng-container>

      </mat-expansion-panel>
    </mat-accordion>

  </ng-template>

  <ng-template #posChannel>

    <mat-accordion>
      <mat-expansion-panel expanded class="mt-4">
        <mat-expansion-panel-header class="bg-gray-50">
          <mat-panel-title>
            <h3 class="m-0">Advanced Settings</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p class="pt-4">Channel specific settings that overwrite and expand the default settings.</p>

        <div class="col-span-full my-4">
          <mat-divider></mat-divider>
        </div>

        <ng-container formArrayName="listings" *ngFor="let listing of product.listings; let i = index">
          <div *ngIf="listing.channelType === 'pos'" [formGroupName]="i" class="grid grid-cols-4 gap-x-4 mt-4">

            <div *ngIf="listing.externalId" class="col-span-full mb-4 pl-1">
              <span class="font-bold">Product #</span>
              <!--          <a (click)="$event.stopPropagation()"-->
              <!--             href="https://www.discogs.com/sell/item/{{ listing.externalId }}"-->
              <!--             rel="noopener noreferrer" class="link content-center" target="_blank">-->
              {{ listing.externalId }}
              <!--          </a>-->
            </div>

            <div class="col-span-full mb-4">
              <mat-divider></mat-divider>
            </div>

            <div class="col-span-1">
              <mat-form-field appearance="outline">
                <mat-label>{{ currencyCode }} Price</mat-label>
                <input formControlName="price" matInput type="number" min="0.01">
              </mat-form-field>
            </div>
            <div class="col-span-1">
              <mat-form-field appearance="outline">
                <mat-label>Available Quantity</mat-label>
                <input formControlName="available" matInput type="number" min="1" [max]="getMaxAvailable()">
              </mat-form-field>
            </div>
            <ul class="col-span-2 inline-flex">
              <li>
                <mat-checkbox formControlName="isLocked">
              <span class="inline-flex">
                Lock Price
                <mat-icon class="text-gray-400" style="transform: scale(0.6);" matTooltip="When the price is
                  locked it is excluded from Bulk Repricing operations." matTooltipPosition="above">
                help</mat-icon>
              </span>
                </mat-checkbox>
              </li>
            </ul>

            <div *ngIf="latestRepricing && wasModifiedByRepricing(listing)"
                 class="col-span-full text-xs text-amber-700 pl-1">
              Modified by Repricing Agent on {{ latestRepricing.createdAt | date }}
            </div>
          </div>
        </ng-container>

      </mat-expansion-panel>
    </mat-accordion>

  </ng-template>

</form>
