<app-page-header [title]="title" [subTitle]="subTitle">
  <ng-template #actions>
    <app-back-button></app-back-button>
    <app-submit-button *ngIf="!loading" [formGroup]="formGroup" [goTo]="'system/channels'" [reload]="true"></app-submit-button>
  </ng-template>
</app-page-header>

<mat-card *ngIf="loading">Loading..</mat-card>

<form *ngIf="!loading" [formGroup]="formGroup" autocomplete="off">

  <div class="grid grid-cols-4 gap-4">

    <div class="col-span-full">
      <mat-card>
        <mat-tab-group mat-align-tabs="start" animationDuration="750ms" dynamicHeight>
          <mat-tab>
            <ng-template mat-tab-label>General</ng-template>
            <ng-container *ngTemplateOutlet="general"></ng-container>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>Settings</ng-template>
            <ng-container *ngTemplateOutlet="settings"></ng-container>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>Mapping</ng-template>
            <ng-container *ngTemplateOutlet="mapping"></ng-container>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>

    <ng-template #general>
      <div class="grid grid-cols-6 gap-4 mt-4 lg:mt-8">
        <!--  General Settings -->
        <div class="col-span-full lg:col-span-2">
          <p class="mb-4 text-primary-300">
            A short and unique name for internal usage (optional).
          </p>
          <mat-form-field appearance="outline">
            <mat-label>Channel name</mat-label>
            <input formControlName="name" matInput type="text">
          </mat-form-field>
        </div>

        <div class="col-span-full lg:col-span-2">
          <p class="mb-4 text-primary-300">
            Where you manage your inventory and fulfill orders.
          </p>
          <mat-form-field appearance="outline">
            <mat-label>Location</mat-label>
            <mat-select formControlName="locationId" required>
              <mat-option *ngFor="let location of locations" value="{{ location.id }}">{{ location.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-span-full md:col-span-2 text-right">
          <div class="mb-4">Is this channel enabled or disabled?</div>
          <mat-slide-toggle formControlName="isActive">
            <span *ngIf="formGroup.get('isActive')?.value">Enabled</span>
            <span *ngIf="!formGroup.get('isActive')?.value">Disabled</span>
          </mat-slide-toggle>
        </div>

        <div class="col-span-full md:col-span-2 pb-4">
          <h3 class="inline-flex">Credentials</h3>
          <!--        <a [routerLink]="" class="float-right pt-0.5 link">Need help?</a>-->
          <mat-divider></mat-divider>
          <p class="pt-4 pb-2 text-primary-300">
            Required to connect to Shopify and manage your inventory and orders.
          </p>

          <mat-form-field appearance="outline" class="col-span-full lg:col-span-2">
            <mat-label>Store URL (eg. waxstore.myshopify.com)</mat-label>
            <input formControlName="hostname" matInput required type="text">
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-span-full lg:col-span-2">
            <mat-label>Admin API Token</mat-label>
            <input formControlName="apiPassword" matInput required type="password">
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-span-full lg:col-span-2">
            <mat-label>API Key</mat-label>
            <input formControlName="apiKey" matInput required type="text">
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-span-full lg:col-span-2">
            <mat-label>API Secret Key</mat-label>
            <input formControlName="apiSharedSecret" matInput required type="password">
          </mat-form-field>
        </div>

      </div>
    </ng-template>

    <ng-template #settings>
      <div class="grid grid-cols-4 gap-4 mt-4">
        <!-- Product Updates -->
        <div class="col-span-full">
          <h3 class="inline-flex">Product Updates</h3>
          <mat-divider></mat-divider>
        </div>
        <div class="col-span-full md:col-span-2">
          <div class="mb-4">Sets the product updates policy.</div>
          <mat-radio-group formControlName="productUpdatesPolicy" class="inline-flex flex-col" (change)="toggleProductPolicy($event)">
            <mat-radio-button value="complete" class="pt-1">Complete</mat-radio-button>
            <mat-radio-button value="partial" class="pt-1">Partial</mat-radio-button>
          </mat-radio-group>
        </div>
        <div *ngIf="productUpdatesPolicy === 'complete'" class="col-span-full md:col-span-2 bg-gray-50 rounded-xl p-4 md:p-8">
          <h4 class="font-bold">Complete Update Policy</h4>
          <p>When this policy in enabled and a product is updated, all related data (images, descriptions,
            tags, etc) are always restored and any customizations in Shopify are overwritten.</p>
          <p>You should not use the polity if products are manually customized in Shopify.</p>
        </div>
        <div *ngIf="productUpdatesPolicy === 'partial'" class="col-span-full md:col-span-2 bg-gray-50 rounded-xl p-4 md:p-8">
          <h4 class="font-bold">Partial Update Policy</h4>
          <p>When this policy in enabled and a product is updated, only the modified fields
            are updated in Shopify. No images, tags or other custom data is overwritten.</p>
          <p>You should use the polity if you need to customize products in Shopify.</p>
        </div>

        <!--  Other Settings -->
        <div class="col-span-full">
          <h3 class="inline-flex">Other Settings</h3>
          <mat-divider></mat-divider>
        </div>
        <div class="pb-2 col-span-full">
          <p class="text-primary-300">
            System-wide settings that affect how Waxconn relates with Shopify.
          </p>
          <ul>
            <li>
              <mat-checkbox formControlName="publishByDefault">
                <span class="font-bold inline-flex">Publish by Default?</span>
              </mat-checkbox>
              <p>
                When new products are created, Shopify is pre-selected as 'available for sale' by default.
              </p>
            </li>
            <li>
              <mat-checkbox formControlName="taxable">
                <span class="font-bold inline-flex">Charge Tax by Default?</span>
              </mat-checkbox>
              <p>
                When new products are created, 'charge tax' is pre-selected by default.
              </p>
            </li>
            <li>
              <mat-checkbox formControlName="deleteOutOfStockProducts">
                <span class="font-bold inline-flex">Delete Products When Out of Stock?</span>
              </mat-checkbox>
              <p>
                By default, when a product's available inventory reaches 0, it's marked as "Out of Stock" in Shopify.
                Enable this option to delete these products from Shopify instead.
              </p>
            </li>
          </ul>
        </div>

      </div>
    </ng-template>

    <ng-template #mapping>
      <div class="grid grid-cols-6 gap-4 mt-4">

        <!--  Product Title & Mappings -->
        <div class="col-span-full lg:col-span-4 grid gap-4">

          <div class="col-span-full">
            <h3 class="inline-flex">Product</h3>
            <mat-divider></mat-divider>
          </div>

          <div class="pb-2 col-span-full">
            <p class="text-primary-300">
              How Waxconn maps into the Shopify product.
            </p>

            <mat-form-field appearance="outline" class="col-span-full lg:col-span-2">
              <mat-label>Title</mat-label>
              <input formControlName="productTitleTemplate" matInput required type="text">
            </mat-form-field>

            <p class="font-bold">
              Description
            </p>

            <div class="NgxEditor__Wrapper">
              <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
              <ngx-editor [editor]="editor" formControlName="productDescriptionTemplate"></ngx-editor>
            </div>

            <mat-form-field appearance="outline" class="col-span-full lg:col-span-2 mt-4">
              <mat-label>Vendor</mat-label>
              <input formControlName="productVendorTemplate" matInput required type="text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-span-full lg:col-span-2">
              <mat-label>Meta Title</mat-label>
              <input formControlName="productMetaTitleTemplate" matInput required type="text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-span-full lg:col-span-2">
              <mat-label>Meta Description</mat-label>
              <input formControlName="productMetaDescriptionTemplate" matInput required type="text">
            </mat-form-field>

          </div>

          <div class="col-span-full pb-2">
            <div class="flex">
              <h3 class="flex-grow">Metafields</h3>
              <button (click)="addMetafield()" color="primary" mat-button class="flex-grow-0 self-center justify-self-end">
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <mat-divider></mat-divider>

            <p class="mt-4 mb-4">
              The available values to use as product metafields in Shopify.
            </p>

            <button *ngIf="productMetafieldsArray.length === 0" (click)="addMetafield()" color="accent" mat-flat-button class="mb-4">
              <span class="font-bold">Add Metafield</span>
            </button>

            <div formArrayName="productMetafields">
              <div *ngFor="let metafield of productMetafieldsArray.controls; let i = index" [formGroupName]="i" class="col-span-full grid grid-cols-9 gap-4">

                <div class="col-span-full md:col-span-2">
                  <mat-form-field appearance="outline">
                    <mat-label>Namespace</mat-label>
                    <input formControlName="namespace" matInput type="text" minlength="3" maxlength="255" pattern="^[a-zA-Z0-9_-]{3,255}$">
                  </mat-form-field>
                </div>

                <div class="col-span-full md:col-span-2">
                  <mat-form-field appearance="outline">
                    <mat-label>Key</mat-label>
                    <input formControlName="key" matInput type="text" minlength="3" maxlength="64" pattern="^[a-zA-Z0-9_-]{3,255}$">
                  </mat-form-field>
                </div>

                <div class="col-span-full md:col-span-2">
                  <mat-form-field appearance="outline">
                    <mat-label>Value</mat-label>
                    <input formControlName="value" matInput type="text" maxlength="255" pattern="^[a-zA-Z0-9_-{}]{3,255}$">
                  </mat-form-field>
                </div>

                <div class="col-span-full md:col-span-2">
                  <mat-form-field appearance="outline">
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="type" required>
                      <mat-option value="single_line_text_field">Single Line Text</mat-option>
<!--                      <mat-option value="multi_line_text_field">Multi Line Text</mat-option>-->
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-span-full md:col-span-1 flex items-center justify-end mat-form-field-wrapper my-1">
                  <button (click)="removeMetafield(i)" color="primary" mat-button class="self-center">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>

              </div>

              <div class="col-span-full">
                Note: Key and Namespace can only contain alphanumeric, hyphen, and underscore characters.
              </div>
            </div>

          </div>

        </div>

        <div class="col-span-full lg:col-span-2">

          <div class="col-span-full pl-2">
            <h3 class="inline-flex">Available Product Properties (Click to Copy)</h3>
            <mat-divider></mat-divider>
          </div>

          <div class="col-span-full p-2 gap-2 inline-flex flex-wrap">

            <button color="accent" mat-flat-button [cdkCopyToClipboard]="'{{title}}'">
              <span class="font-bold" ngNonBindable>{{title}}</span>
            </button>

            <button color="accent" mat-flat-button [cdkCopyToClipboard]="'{{artist}}'">
              <span class="font-bold" ngNonBindable>{{artist}}</span>
            </button>

            <button color="accent" mat-flat-button [cdkCopyToClipboard]="'{{catalog_number}}'">
              <span class="font-bold" ngNonBindable>{{catalog_number}}</span>
            </button>

            <button color="accent" mat-flat-button [cdkCopyToClipboard]="'{{type}}'">
              <span class="font-bold" ngNonBindable>{{type}}</span>
            </button>

            <button color="accent" mat-flat-button [cdkCopyToClipboard]="'{{formats}}'">
              <span class="font-bold" ngNonBindable>{{formats}}</span>
            </button>

            <button color="accent" mat-flat-button [cdkCopyToClipboard]="'{{format_descriptions}}'">
              <span class="font-bold" ngNonBindable>{{format_descriptions}}</span>
            </button>

            <button color="accent" mat-flat-button [cdkCopyToClipboard]="'{{country}}'">
              <span class="font-bold" ngNonBindable>{{country}}</span>
            </button>

            <button color="accent" mat-flat-button [cdkCopyToClipboard]="'{{released}}'">
              <span class="font-bold" ngNonBindable>{{released}}</span>
            </button>

            <button color="accent" mat-flat-button [cdkCopyToClipboard]="'{{title}}'">
              <span class="font-bold" ngNonBindable>{{genres}}</span>
            </button>

            <button color="accent" mat-flat-button [cdkCopyToClipboard]="'{{styles}}'">
              <span class="font-bold" ngNonBindable>{{styles}}</span>
            </button>

            <button color="accent" mat-flat-button [cdkCopyToClipboard]="'{{label}}'">
              <span class="font-bold" ngNonBindable>{{label}}</span>
            </button>

            <button color="accent" mat-flat-button [cdkCopyToClipboard]="'{{tracklist}}'">
              <span class="font-bold" ngNonBindable>{{tracklist}}</span>
            </button>

            <button color="accent" mat-flat-button [cdkCopyToClipboard]="'{{videos:x}}'">
              <span class="font-bold" ngNonBindable>{{videos:x}}</span>
            </button>

            <button color="accent" mat-flat-button [cdkCopyToClipboard]="'{{bin_location}}'">
              <span class="font-bold" ngNonBindable>{{bin_location}}</span>
            </button>

          </div>

          <div class="col-span-full pl-2 mt-4">
            <h3 class="inline-flex">Other (Discogs)</h3>
            <mat-divider></mat-divider>
          </div>

          <div class="col-span-full p-2 gap-2 inline-flex  flex-wrap">

            <button color="accent" mat-flat-button [cdkCopyToClipboard]="'{{release_id}}'">
              <span class="font-bold" ngNonBindable>{{release_id}}</span>
            </button>

            <button color="accent" mat-flat-button [cdkCopyToClipboard]="'{{media_condition}}'">
              <span class="font-bold" ngNonBindable>{{media_condition}}</span>
            </button>

            <button color="accent" mat-flat-button [cdkCopyToClipboard]="'{{sleeve_condition}}'">
              <span class="font-bold" ngNonBindable>{{sleeve_condition}}</span>
            </button>

            <button color="accent" mat-flat-button [cdkCopyToClipboard]="'{{comments}}'">
              <span class="font-bold" ngNonBindable>{{comments}}</span>
            </button>

            <button color="accent" mat-flat-button [cdkCopyToClipboard]="'{{release_notes}}'">
              <span class="font-bold" ngNonBindable>{{release_notes}}</span>
            </button>

          </div>

          <div class="col-span-full pl-2 mt-4">
            <h3 class="inline-flex">Tags</h3>
            <mat-divider></mat-divider>

            <p class="mt-4">
              The available values to use as product tags in Shopify.
            </p>

            <ul>
              <li><mat-checkbox [checked]="isTagChecked('artist')" (change)="selectTag('artist', $event)">
                Artist Name</mat-checkbox>
              </li>

              <li><mat-checkbox [checked]="isTagChecked('type')" (change)="selectTag('type', $event)">
                Type</mat-checkbox>
              </li>

              <li><mat-checkbox [checked]="isTagChecked('genres')" (change)="selectTag('genres', $event)">
                Genres</mat-checkbox>
              </li>

              <li><mat-checkbox [checked]="isTagChecked('styles')" (change)="selectTag('styles', $event)">
                Styles</mat-checkbox>
              </li>

              <li><mat-checkbox [checked]="isTagChecked('label')" (change)="selectTag('label', $event)">
                Label</mat-checkbox>
              </li>

              <li><mat-checkbox [checked]="isTagChecked('formats')" (change)="selectTag('formats', $event)">
                Formats</mat-checkbox>
              </li>

              <li><mat-checkbox [checked]="isTagChecked('format_descriptions')" (change)="selectTag('format_descriptions', $event)">
                Format Descriptions</mat-checkbox>
              </li>

              <li><mat-checkbox [checked]="isTagChecked('country')" (change)="selectTag('country', $event)">
                Country</mat-checkbox>
              </li>
            </ul>

          </div>

        </div>
      </div>

    </ng-template>
  </div>

</form>
