<div class="flex h-full">
  <div class="my-auto px-5 w-full">
    <img alt="" class="mx-auto pb-5" src="assets/waxconn-dark-basic-150.png" width="150">
    <div class="mx-auto text-center border-t pt-5">
      <p><span class="font-bold">This account is suspended</span>.</p>
      <p>
        To renew your <span class="font-bold"> Waxconn</span> subscription please click
        <a class="link" routerLink="/system/billing">here</a>.
      </p>
      <p>
        If you don't want to continue using our services you don't have to do anything.<br>
        In 7 days your account and all data will be permanently deleted.
      </p>
      <p>
        If you have any questions please <a href="https://waxconn.com/contact-us" target="_blank" class="link">contact us</a><br>
        Thanks for your support!
      </p>
    </div>
  </div>
</div>
