<mat-card>
  <h3>Summary</h3>
  <mat-divider></mat-divider>

  <form [formGroup]="formGroup" autocomplete="off">
    <div class="grid grid-cols-2 pt-4 gap-x-4">
      <div class="pb-6 col-span-full">
        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option value="active">Active</mat-option>
            <mat-option value="draft">Draft</mat-option>
          </mat-select>
        </mat-form-field>

        <p [class.mat-error]="formGroup.get('listings')?.touched && selectedChannels.length === 0">
          Where the product is available for sale.
        </p>
        <ul *ngIf="channels">
          <li *ngFor="let channel of channels">
            <mat-checkbox
                (change)="selectChannel(channel.id, $event)"
                [checked]="isChannelChecked(channel.id)"
                [disabled]="(release.status === 'Draft' || release.blockedFromSale) && channel.type === 'discogs'">
              <span matTooltip="Cannot be sold in Discogs Marketplace ({{ release.blockedFromSale ? 'Blocked' : 'Draft' }} Release)"
                    [matTooltipDisabled]="release.status !== 'Draft' && !release.blockedFromSale || channel.type !== 'discogs'"
                    [matTooltipPosition]="'above'">
                {{ channel.name | titlecase }}
              </span>
            </mat-checkbox>
          </li>
        </ul>
      </div>

      <div class="col-span-full grid grid-cols-2 gap-x-4">
        <mat-form-field class="col-span-1" appearance="outline">
          <mat-label>{{ currencyCode }} Price</mat-label>
          <input formControlName="price" matInput required type="number">
        </mat-form-field>
        <div *ngIf="priceSuggestion" class="col-span-1 mt-2.5 pb-4 md:pb-1">
          <button (click)="setSuggestedPrice()" color="accent" mat-flat-button style="padding: 0 10px" matTooltip="Discogs price suggestion">
            <mat-icon class="mr-1">poll</mat-icon>
            <span>{{ priceSuggestion.value | currency: priceSuggestion.currency }}</span>
          </button>
        </div>
      </div>

      <ul class="pb-6">
        <li>
          <mat-checkbox formControlName="allowOffers">Allow offers</mat-checkbox>
        </li>
        <li>
          <mat-checkbox formControlName="taxable">Charge tax</mat-checkbox>
        </li>
      </ul>

      <div class="col-span-full">
        <mat-form-field appearance="outline">
          <mat-label>Available quantity</mat-label>
          <input formControlName="quantity" matInput type="number">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>SKU (Stock Keeping Unit)</mat-label>
          <input formControlName="sku" matInput type="text">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Barcode (ISBN, UPC, GTIN, etc)</mat-label>
          <input formControlName="barcode" matInput type="text">
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-span-2">
          <mat-label>Bin Location</mat-label>
          <input formControlName="binLocation" matInput maxLength="255" [matAutocomplete]="autoLocation"/>
          <mat-autocomplete #autoLocation="matAutocomplete">
            <mat-option *ngFor="let option of filteredLocationsOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="col-span-1" >
        <mat-label>Weight</mat-label>
        <input formControlName="weight" matInput type="number">
        <div matSuffix><small>grams</small></div>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Counts as</mat-label>
        <input formControlName="formatQuantity" matInput type="number">
        <div matSuffix><small>items</small></div>
      </mat-form-field>

    </div>
  </form>
</mat-card>
