<app-page-header [subTitle]="subTitle" [title]="title">
  <ng-template #actions>
    <app-pos-create-order-button></app-pos-create-order-button>
  </ng-template>
</app-page-header>

<mat-card class="px-0">
  <app-data-list [itemRoute]="['orders']" [searchConfig]="searchConfig">

    <ng-template #header>
      <th class="w-6/12 p-4 text-left">Order</th>
      <th class="w-4/12 p-4 text-right">Payment / Fulfillment</th>
      <th class="w-1/12 p-4 text-right">Items</th>
      <th class="w-1/12 p-4 text-right">Total</th>
    </ng-template>

    <ng-template #row let-row="row">
      <td class="p-4 text-left border-b">
        <div class="flex items-center">
          <div class="mr-4">
            <img alt="" height="25" src="assets/{{ g(row).channelType }}-25.png">
          </div>
          <div class="w-44 pr-4">
            <span class="mat-small">{{ g(row).channelType | titlecase }} - {{ g(row).createdAt | date }}</span><br>
            <ng-container *ngIf="g(row).channelType !== 'pos'">
              <span class="mat-body-strong">{{ g(row).reference }}</span>
              <span class="mat-small text-primary-300"> | #{{ g(row).id }}</span>
            </ng-container>
            <ng-container *ngIf="g(row).channelType === 'pos'">
              <span class="mat-body-strong">#{{ g(row).id }}</span>
            </ng-container>
          </div>
          <div class="border-l pl-4">
            <span *ngIf="g(row).customerName" class="mat-body-strong">{{ g(row).customerName }}</span>
            <span *ngIf="!g(row).customerName" class="mat-body-strong">Generic Customer</span><br>
            <ng-container *ngIf="g(row).channelType !== 'pos' && g(row).shippingAddress">
              {{ g(row).shippingAddress?.city | titlecase }}, {{ g(row).shippingAddress?.country | titlecase }}
            </ng-container>
            <ng-container *ngIf="g(row).channelType === 'pos'">In store</ng-container>
          </div>
        </div>
      </td>

      <td class="p-4 text-right border-b">
        <div *ngIf="!g(row).cancelledAt" class="flex justify-end">
          <div class="pr-4">
            <span [class]="'rounded py-1 px-3 ' + (g(row).paymentStatus === 'paid' ? 'bg-gray-300' : 'bg-yellow-300')">
              {{ g(row).paymentStatus | removeUnderscore | titlecase }}
            </span>
          </div>
          <div class="w-24">
            <span [class]="'rounded py-1 px-3 ' + (g(row).fulfillmentStatus === 'fulfilled' ? 'bg-gray-300' : 'bg-yellow-300')">
              {{ g(row).fulfillmentStatus | removeUnderscore | titlecase }}
            </span>
          </div>
        </div>

        <div *ngIf="g(row).cancelledAt" class="flex justify-end">
          <div>
            <span class="rounded py-1 px-3 bg-gray-300">Cancelled</span>
          </div>
        </div>
      </td>

      <td class="p-4 text-right border-b">{{ g(row).itemsCount }}</td>

      <td class="p-4 text-right border-b">{{ g(row).total | currency }}</td>
    </ng-template>

  </app-data-list>
</mat-card>
