<app-page-header [title]="title" [subTitle]="subTitle">
  <ng-template #actions>
    <button color="primary" mat-flat-button disabled class="ml-2">Export</button>
  </ng-template>
</app-page-header>

<mat-card class="px-0">
  <app-data-list [itemRoute]="['customers']" [searchConfig]="searchConfig">

    <ng-template #header>
      <th class="w-9/12 lg:w-10/12 p-4 text-left">Customer</th>
      <th class="w-3/12 lg:w-1/12 p-4 text-right">Orders</th>
      <th class="w-1/12 p-4 text-right hidden lg:table-cell">Spent</th>
    </ng-template>

    <ng-template #row let-row="row">
      <td class="p-4 text-left border-b" [ngClass]="{'py-6': !g(row).defaultAddress}">
        <span *ngIf="g(row).firstName" class="mat-body-strong">{{ g(row).fullName }}</span>
        <span *ngIf="!g(row).firstName && g(row).email" class="mat-body-strong">{{ g(row).email }}</span>
        <span *ngIf="!g(row).firstName && !g(row).email" class="mat-body-strong">Not available</span>
        <br>
        <span *ngIf="g(row).defaultAddress" class="mat-small">
          {{ g(row).defaultAddress?.city | titlecase }}, {{ g(row).defaultAddress?.country | titlecase }}
        </span>
      </td>
      <td class="p-4 text-right border-b">{{ g(row).ordersCount }}</td>
      <td class="p-4 text-right border-b hidden lg:table-cell">{{ g(row).amountSpent | currency }}</td>
    </ng-template>

  </app-data-list>
</mat-card>
