<mat-card class="px-0">
  <app-data-list [page]="orderItems" [paginated]="false">

    <ng-template #header>
      <th class="w-8/12 px-4 pb-4 text-left">
        <ng-container *ngIf="order.cancelledAt">
          <h3 class="mb-0 flex items-center">
            <mat-icon class="mr-2 text-orange-400">warning</mat-icon> Cancelled
          </h3>
        </ng-container>

        <ng-container *ngIf="!order.cancelledAt">
          <h3 *ngIf="order.fulfillmentStatus === 'fulfilled'" class="mb-0 flex items-center">
            <mat-icon class="mr-2 text-green-600">check_circle</mat-icon> Fulfilled
          </h3>
          <h3 *ngIf="order.fulfillmentStatus !== 'fulfilled'" class="mb-0 flex items-center">
            <mat-icon class="mr-2 text-red-600">error</mat-icon>
            {{ order.fulfillmentStatus | removeUnderscore | titlecase }}
          </h3>
        </ng-container>
      </th>

      <th class="w-2/12 px-4 pb-4 text-right">Quantity</th>
      <th class="w-2/12 px-4 pb-4 text-right">Subtotal</th>
    </ng-template>

    <ng-template #row let-row="row">
      <tr [routerLink]="['items', item(row).id]" [ngClass]="item(row).productId ? 'cursor-pointer hover:bg-gray-50' : 'pointer-events-none bg-gray-50'" class="border-b">
        <td class="p-4 sm:pr-0 flex items-center">
          <img src="{{ item(row).thumb  || imagePlaceholder }}" style="height: 60px; width: 60px; min-width: 60px;"
               height="60" width="60" (error)="onImgError($event)" class="mr-4" alt="">
          <div class="flex-1 pr-4 items-center">
            <strong>{{ item(row).title }}</strong>
            <br>
            <span *ngIf="!item(row).productId">Ref: Not available </span>
            <span *ngIf="item(row).productId">Ref: #{{ item(row).productId }} </span>
            <span *ngIf="item(row).sku"> / SKU: {{ item(row).sku }} </span>
            <span *ngIf="item(row).location"> / Location: {{ item(row).location }} </span>
          </div>
        </td>
        <td class="p-4 text-right">
          <strong>{{ item(row).quantity }}</strong>
        </td>
        <td class="p-4 text-right">
          {{ item(row).price * item(row).quantity | currency }}
        </td>
      </tr>
    </ng-template>

  </app-data-list>

</mat-card>
